@charset "UTF-8";
* {
  vertical-align: baseline;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

a:hover, a:visited, a:link, a:active {
  color: #452e11;
  text-decoration: none; }

a:hover {
  color: #916406; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 10px; }

html, body {
  height: 100%; }

#container {
  position: relative;
  min-height: 100%;
  padding-left: 50px;
  background-color: #172941;
  overflow: auto; }

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #172941; }

#main {
  width: 100%;
  margin-bottom: 200px; }

#content {
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  padding: 30px;
  margin: auto; }

#pagination ul {
  text-align: right; }
  #pagination ul li {
    margin: 5px;
    display: inline-block; }
    #pagination ul li a {
      font-family: Cambria, Georgia, 'Microsoft Jhenghei', 'Hiragino Sans GB', 'Microsoft YaHei', 'Times New Roman', serif;
      display: block;
      background-color: #d9c9b8;
      width: 25px;
      height: 25px;
      line-height: 25px;
      color: #222;
      font-size: 15px;
      border-radius: 50%;
      text-align: center;
      transition: all 0.1s ease-in; }
    #pagination ul li a:hover {
      background-color: #915406;
      color: #d9c9b8; }
    #pagination ul li a.disabled {
      background-color: #d9c9b8;
      color: #222; }
    #pagination ul li a.disabled:hover {
      background-color: #d9c9b8; }
    #pagination ul li a.current {
      color: #d9c9b8;
      background-color: #915406; }

.bounce, .article, .archive {
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s; }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1); }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.01); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(1); }

  60% {
    opacity: 1;
    -moz-transform: scale(1.01); }

  100% {
    -moz-transform: scale(1); } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.article {
  background-color: #eeeeee;
  font-family: "微软雅黑", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px 0 #ccc;
  padding-top: 30px; }
  .article .article-title {
    font-weight: bold;
    position: relative;
    margin: 0px 40px;
    padding-bottom: 10px;
    color: #916406; }
    @media screen and (max-width: 800px) {
      .article .article-title {
        margin: 0px 20px; } }
    .article .article-title .date {
      font-weight: normal;
      margin-top: 10px;
      color: #452e11; }
    .article .article-title .line {
      content: '';
      display: block;
      border-top: 1px solid #ddd;
      position: absolute;
      bottom: 0;
      width: 100%; }
    .article .article-title .article-tag-list {
      display: inline-block;
      float: right;
      list-style: none;
      margin-top: 5px; }
      .article .article-title .article-tag-list .article-tag-list-item {
        background-color: #915406;
        padding: 0 4px 0 0;
        border-right: 4px solid #452e11; }
      .article .article-title .article-tag-list .article-tag-list-item a {
        min-width: 25px;
        padding: 1px 10px;
        font-size: 12px;
        display: block;
        background-color: #d9c9b8; }
      .article .article-title .article-tag-list a:hover {
        background-color: #dddddd; }
  .article .article-more {
    position: relative;
    height: 20px;
    padding: 10px 0;
    margin: 0 40px;
    text-align: right; }
    @media screen and (max-width: 800px) {
      .article .article-more {
        margin: 0px 20px; } }
    .article .article-more a.link:hover {
      color: #915406; }
    .article .article-more .line {
      content: '';
      display: block;
      border-top: 1px solid #ddd;
      position: absolute;
      top: 0;
      width: 100%; }
    .article .article-more a.link {
      padding: 1px;
      border-radius: 1px;
      color: #452e11;
      font-size: 16px;
      position: relative;
      display: inline-block;
      overflow: hidden;
      line-height: 20px; }
    .article .article-more .prev {
      text-align: left;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      @media screen and (max-width: 800px) {
        .article .article-more .prev {
          width: 100px; } }
    .article .article-more .next {
      float: right; }
      .article .article-more .next .dot {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: text-top; }
      @media screen and (max-width: 800px) {
        .article .article-more .next .dot {
          width: 70px; } }
  .article .article-entry {
    margin-bottom: 10px;
    line-height: 1.8em;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    color: #676767; }
    @media screen and (max-width: 800px) {
      .article .article-entry {
        padding-right: 20px;
        padding-left: 20px; } }
    .article .article-entry a {
      color: #0a6491; }
    .article .article-entry a:hover {
      color: #915406; }
    .article .article-entry p {
      margin-top: 10px; }
    .article .article-entry p code, .article .article-entry li code {
      color: #172941;
      padding: 1px 3px;
      margin: 0 3px;
      background: #dbf1f1;
      border: 1px solid #bbb;
      font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
      word-wrap: break-word;
      font-size: 14px; }
    .article .article-entry blockquote {
      padding: 15px 20px;
      margin-top: 10px;
      border-left: 5px solid #0a6391;
      background: #f4f4f4; }
      .article .article-entry blockquote p {
        margin-top: 0; }
    .article .article-entry em {
      font-style: italic; }
    .article .article-entry ul li:before {
      content: "";
      width: 6px;
      height: 6px;
      border: 1px solid #999;
      border-radius: 10px;
      background: #aaa;
      display: inline-block;
      margin-right: 10px;
      float: left;
      margin-top: 12px; }
    .article .article-entry ul, .article .article-entry ol {
      font-size: 16px;
      font-weight: 200;
      margin: 10px 30px; }
    .article .article-entry li ul, .article .article-entry li ol {
      margin-left: 30px; }
      .article .article-entry li ul li:before, .article .article-entry li ol li:before {
        content: "";
        background: #dedede; }
    .article .article-entry h1 {
      margin-top: 80px;
      font-weight: bold;
      color: #217fbc;
      padding-bottom: 5px; }
    .article .article-entry h2 {
      margin-top: 60px;
      font-weight: 500;
      color: #172941;
      padding-bottom: 5px;
      border-bottom: 2px dotted #7898a7; }
    .article .article-entry h3, .article .article-entry h4, .article .article-entry h5, .article .article-entry h6 {
      margin-top: 20px;
      font-weight: 300;
      color: #574C4C;
      padding-bottom: 5px;
      border-bottom: 1px dotted #ddd; }
    .article .article-entry video {
      max-width: 100%; }
    .article .article-entry strong {
      font-weight: bold; }
    .article .article-entry .caption {
      display: block;
      font-size: 0.8em;
      color: #aaa; }
    .article .article-entry hr {
      height: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px dotted #217fbc; }
    .article .article-entry pre {
      font-size: 1/0.9em;
      line-height: 1.5;
      margin-top: 10px;
      padding: 5px 15px;
      overflow-x: auto;
      color: #657b83;
      font-size: 10px;
      border: 1px solid #ccc;
      text-shadow: 0 1px #444;
      font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; }
      .article .article-entry pre code {
        font-size: 14px; }
    .article .article-entry table {
      width: 100%;
      border: 1px solid #dedede;
      margin: 15px 0;
      border-collapse: collapse; }
      .article .article-entry table tr, .article .article-entry table td {
        height: 35px; }
      .article .article-entry table thead tr {
        background: #f8f8f8; }
      .article .article-entry table tbody tr:hover {
        background: #efefef; }
      .article .article-entry table td, .article .article-entry table th {
        border: 1px solid #dedede;
        padding: 0 10px; }
    .article .article-entry figure table {
      border: none;
      width: auto;
      margin: 0; }
      .article .article-entry figure table tbody tr:hover {
        background: none; }
  .article .duoshuo {
    margin-top: 50px;
    padding: 0 20px; }
    .article .duoshuo div.ds-social-links {
      width: 100% !important; }
    .article .duoshuo .ds-comments-tab-duoshuo {
      background-color: white !important; }
  .article .code-block, .article .article-entry pre, .article .article-entry .highlight {
    background: #2d2d2d;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #cccccc;
    line-height: 25.6px;
    margin-top: 20px; }
  .article .line-numbers, .article .article-entry .highlight .gutter pre, .article .article-entry .gist .gist-file .gist-data .line-numbers {
    color: #999;
    font-size: 0.85em; }
  .article .article-entry pre, .article .article-entry code {
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
    font-size: 16px; }
  .article .article-entry code {
    background: #fff;
    text-shadow: 0 1px #ccc;
    padding: 0 0.3em; }
  .article .article-entry pre code {
    background: none;
    text-shadow: none;
    padding: 0; }
  .article .article-entry .highlight pre {
    border: none;
    margin: 0;
    padding: 0; }
  .article .article-entry .highlight table {
    margin: 0;
    width: auto; }
  .article .article-entry .highlight td {
    border: none;
    padding: 0; }
  .article .article-entry .highlight figcaption {
    font-size: 0.85em;
    color: #999999;
    line-height: 1em;
    margin-bottom: 1em; }
    .article .article-entry .highlight figcaption a {
      float: right; }
  .article .article-entry .highlight .gutter pre {
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #888; }
  .article .article-entry .highlight .line {
    height: 25.6px; }
  .article .article-entry .gist {
    margin: 0 -20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    background: #2d2d2d;
    padding: 15px 20px 15px 0; }
    .article .article-entry .gist .gist-file {
      border: none;
      font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
      margin: 0; }
      .article .article-entry .gist .gist-file .gist-data {
        background: none;
        border: none; }
        .article .article-entry .gist .gist-file .gist-data .highlight .gutter pre, .article .article-entry .highlight .gutter .gist .gist-file .gist-data pre, .article .article-entry .gist .gist-file .gist-data .line-numbers {
          background: none;
          border: none;
          padding: 0 20px 0 0; }
        .article .article-entry .gist .gist-file .gist-data .line-data {
          padding: 0 !important; }
      .article .article-entry .gist .gist-file .highlight {
        margin: 0;
        padding: 0;
        border: none; }
      .article .article-entry .gist .gist-file .gist-meta {
        background: #2d2d2d;
        color: #999999;
        font: 0.85em font-sans;
        text-shadow: 0 0;
        padding: 0;
        margin-top: 1em;
        margin-left: 20px; }
        .article .article-entry .gist .gist-file .gist-meta a {
          color: #258fb8;
          font-weight: normal; }
          .article .article-entry .gist .gist-file .gist-meta a:hover {
            text-decoration: underline; }
  .article pre .comment .title {
    color: #999999; }
  .article pre .variable, .article pre .attribute, .article pre .tag, .article pre .regexp, .article pre .ruby .constant, .article pre .xml .tag .title, .article pre .xml .pi, .article pre .xml .doctype, .article pre .html .doctype, .article pre .css .id, .article pre .css .class, .article pre .css .pseudo {
    color: #f2777a; }
  .article pre .number, .article pre .preprocessor, .article pre .built_in, .article pre .literal, .article pre .params, .article pre .constant {
    color: #f99157; }
  .article pre .class, .article pre .ruby .class .title, .article pre .css .rules .attribute {
    color: #99cc99; }
  .article pre .string, .article pre .value, .article pre .inheritance, .article pre .header, .article pre .ruby .symbol, .article pre .xml .cdata {
    color: #99cc99; }
  .article pre .css .hexcolor {
    color: #66cccc; }
  .article pre .function, .article pre .python .decorator, .article pre .python .title, .article pre .ruby .function .title, .article pre .ruby .title .keyword, .article pre .perl .sub, .article pre .javascript .title, .article pre .coffeescript .title {
    color: #6699cc; }
  .article pre .keyword, .article pre .javascript .function {
    color: #cc99cc; }

.list-title, .line2 {
  display: block;
  background-color: #f5f5f5;
  position: relative;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  border-left: 2px solid #ddd; }
  .list-title:hover, .line2:hover {
    border-left: 2px solid #aaa; }
  .list-title .title, .line2 .title {
    vertical-align: sub;
    margin-left: 5px;
    display: inline-block; }
  .list-title .date, .line2 .date {
    display: inline-block;
    color: #ccc; }

@media screen and (max-width: 800px) {
  .list-title, .line2 {
    padding: 20px 0px;
    margin-left: 0px;
    border-bottom: 1px solid #ddd;
    border-left: none; }
    .list-title:hover, .line2:hover {
      border-left: none; }
    .list-title .title, .line2 .title {
      position: absolute;
      font-size: 16px; }
    .list-title .date, .line2 .date {
      display: inline-block;
      color: #ccc; }
  .line2 {
    display: none; } }

.bounce, .article, .archive {
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s; }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1); }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.01); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(1); }

  60% {
    opacity: 1;
    -moz-transform: scale(1.01); }

  100% {
    -moz-transform: scale(1); } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.archive {
  padding: 20px;
  background-color: #f5f5f5; }
  .archive .archive-year, .archive .cal {
    margin-bottom: 5px;
    font-family: Cambria, Georgia, 'Microsoft Jhenghei', 'Hiragino Sans GB', 'Microsoft YaHei', 'Times New Roman', serif;
    font-size: 20px; }
  .archive .demo-icon {
    margin-left: 7px; }

@media screen and (max-width: 800px) {
  .cal {
    display: none; } }

#sideBar {
  position: fixed;
  top: -100%;
  left: 0;
  height: 290px;
  width: 50px;
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  box-sizing: border-box;
  background-color: #452e11;
  text-align: center;
  transition-timing-function: ease-in; }
  #sideBar h1 {
    font-size: 22px;
    font-weight: bold;
    display: block;
    height: 45px;
    overflow: hidden; }
  #sideBar .line-top {
    left: -100%;
    position: relative;
    display: block;
    height: 1px;
    background: #222; }
  #sideBar .line-bottom {
    /*transform: translateX(100%);*/
    left: 100%;
    position: relative;
    display: block;
    height: 1px;
    background: #222; }
  #sideBar .line-left {
    /*transform: translateY(-100%);*/
    position: relative;
    top: 100%;
    height: 100%;
    width: 1px;
    display: inline-block;
    background: #222; }
  #sideBar .line-right {
    /*transform: translateY(100%);*/
    position: relative;
    top: -100%;
    height: 100%;
    width: 1px;
    display: inline-block;
    background: #222; }
  #sideBar .logo {
    position: relative;
    opacity: 0;
    display: inline-block;
    margin: 5px 0px; }
  #sideBar .brand {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: auto;
    /*float: left;*/
    overflow: hidden; }
  #sideBar .menu {
    background-color: #eeeeee;
    padding: 20px 0;
    border-bottom: 10px solid #d9c9b8; }
  #sideBar .menu-item {
    opacity: 0;
    margin: 20px 0;
    font-size: 16px;
    font-weight: normal; }
  #sideBar .menu-item {
    overflow: auto; }
  #sideBar a.menu-link {
    position: relative;
    color: #222222;
    display: inline-block;
    overflow: hidden; }
  #sideBar a.menu-link:hover {
    color: #915406; }
  #sideBar .menu-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition-duration: 0.2s; }
  #sideBar .menu-link:hover::before {
    visibility: visible;
    transform: scaleX(1); }
  #sideBar .myLinks a {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 20px; }
  #sideBar .myLinks .github {
    background: url("/img/github.png") center no-repeat #666; }
  #sideBar .myLinks .weibo {
    background: url("/img/weibo.png") center no-repeat #666; }
  #sideBar #aboutMe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #f5f5f5;
    transition-timing-function: ease-out; }
  #sideBar #cancel {
    color: #ccc;
    line-height: 100px;
    border: 1px solid #dddddd;
    border-right: none;
    box-shadow: 0px 1px 2px 0 #ccc;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -50%;
    width: 30px;
    height: 100px;
    background-color: #fafafa; }
  #sideBar #cancel:hover {
    background-color: #ffffff; }
  #sideBar .background {
    position: absolute;
    top: 0;
    width: 50px;
    height: 280px;
    background: #915406;
    z-index: -1; }

#mobile-nav {
  box-sizing: border-box;
  padding-top: 40px;
  width: 100%;
  height: 180px;
  background-color: #ededed;
  display: none;
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  border-bottom: 5px solid #452e11;
  position: relative; }
  #mobile-nav a:hover, #mobile-nav a:visited, #mobile-nav a:link, #mobile-nav a:active {
    color: #222;
    text-decoration: none; }
  #mobile-nav a:hover {
    color: #555; }
  #mobile-nav h1 {
    font-size: 22px;
    font-weight: bold;
    display: block;
    height: 45px;
    overflow: hidden;
    text-align: center; }
  #mobile-nav .line-top {
    left: -100%;
    position: relative;
    display: block;
    height: 1px;
    background: #222; }
  #mobile-nav .line-bottom {
    /*transform: translateX(100%);*/
    left: 100%;
    position: relative;
    display: block;
    height: 1px;
    background: #222; }
  #mobile-nav .line-left {
    /*transform: translateY(-100%);*/
    position: relative;
    top: 100%;
    height: 100%;
    width: 1px;
    display: inline-block;
    background: #222; }
  #mobile-nav .line-right {
    /*transform: translateY(100%);*/
    position: relative;
    top: -100%;
    height: 100%;
    width: 1px;
    display: inline-block;
    background: #222; }
  #mobile-nav .logo {
    position: relative;
    opacity: 0;
    display: inline-block;
    margin: 5px 0px; }
  #mobile-nav .brand {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: auto;
    /*float: left;*/
    overflow: hidden; }
  #mobile-nav .menu2 {
    opacity: 0;
    text-align: center; }
    #mobile-nav .menu2 .menu-item2 {
      font-size: 14px;
      display: inline-block;
      margin: 30px 10px 0 10px; }
      #mobile-nav .menu2 .menu-item2 a {
        display: block; }
      #mobile-nav .menu2 .menu-item2 a:visited {
        color: #222; }
      #mobile-nav .menu2 .menu-item2 a:active {
        background-color: #b3b689; }
  #mobile-nav .bt-line {
    position: absolute;
    bottom: 0;
    border-bottom: 5px solid #915406;
    width: 100%; }

#topBar {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  display: none; }
  #topBar .toolBar {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: #002b36; }
  #topBar h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 2; }

#topBar.fixed {
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid #222; }

#footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #172941;
  color: #d9c9b8; }
  #footer .footer-content {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center; }
    #footer .footer-content .friend-link a {
      margin-left: 20px;
      display: inline-block;
      color: #d9c9b8; }
    #footer .footer-content .friend-link a:hover {
      color: #eeeeee; }
    #footer .footer-content .visit-me {
      margin-top: 20px;
      color: #eeeeee; }
      #footer .footer-content .visit-me a {
        font-size: 15px;
        margin-left: 10px;
        display: inline-block;
        color: #eeeeee; }
      #footer .footer-content .visit-me a:hover {
        color: #d9c9b8; }
    #footer .footer-content .lomo {
      color: #d9c9b8;
      margin-top: 20px; }
      #footer .footer-content .lomo .a {
        color: #452e11; }
      #footer .footer-content .lomo .b {
        color: #915406; }
      #footer .footer-content .lomo .c {
        color: #d9c9b8; }

@media screen and (max-width: 800px) {
  body {
    min-width: 320px; }
  #container {
    padding-left: 0; }
  #content {
    padding: 0 5px;
    width: 100%; }
  #sideBar {
    display: none; }
  #mobile-nav {
    display: block; }
  #background {
    background-color: #032d4a; } }
